@import "tailwindcss";
@import "@nuxt/ui";

/*** BASE ***/

a:hover {
    text-decoration: underline;
}

input, button {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    font-size: 14pt;
    font-weight: 400;
    background-color: #f2f2f2;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #f2f2f2);
}